@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");


body {
  background-color: #E6CAC8;
  font-family:'Open Sans', sans-serif;
  font-weight: 300;

}


p {
  color: #56916E;
}

.container {
  width: 600px;
  border-radius: 10px;
  background-color: white;
  padding: 45px;
  text-align: center;
  margin: 32px auto;
  box-shadow: 1px 1px 1px rgb(133, 87, 87);
  border: 1px solid #A67871;
}

button {
  margin: 12px;
  padding: 12px;
  border-radius: 4px;
  letter-spacing: 1px;
  background-color: #E6CAC8;

}

button:hover{
  text-decoration: underline;
}

h1 {
  color: #66302C;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
}

.subtitle{
  color: #66302C;
  font-size: 20px;
}

.list {
  text-align: center;
  list-style: none;
  font-size: 25px;
  padding: 0;

}

.list-item {
  display: inline-block;
  margin: 5px;
}

.list:hover {
  font-size: 28px;
}


img {
  border-radius: 40%;
  width: 140px;
}

a {
  color: #712180;
  text-decoration: none;
  font-weight: bold;

}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}


/*
